@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
nav ul li a{
    display: inline-block;
    letter-spacing: 1px;
    font-family: Lobster;
    margin: 8px;
    text-decoration: none;
    color: black;
    transition: 1000ms;
}

nav ul li a:hover{
    transform: scale(1.2);
    letter-spacing: 2px;
    color: navy;
}
/* nav .logo img{
    transition: 1.5s;
}
nav .logo img:hover{
    transform: translateX(-500px);
} */
table{
    word-wrap: break-word;
}
span{
    color: red;
}
@media(max-width: 768px){
    h1{
        font-size: 1.3em;
    }
    h2{
        font-size: 1.2em;
    }
    table{
        font-size: 0.6em;
    }
}